<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <!--<resource id="Matrix_NoncatalogueRfq::noncatalogrfq">				
                <resource id="Matrix_RfqEntity::rfqentity" title="Non-Catalog RFQ Entity" sortOrder="150" />
            </resource>-->
            <resource id="Magento_Backend::admin">
                <resource id="Matrix_RfqEntity::rfqentity" title="Non-Catalog RFQ Entity" sortOrder="10" />
            </resource>
        </resources>
    </acl>
</config>
