<!--@subject {{trans "Seller registration is completed partially"}} @-->
{{template config_path="design/email/header_template"}}
<body>
<table align="center" cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <h1>Dear Vendor {{var name}},</h1>
                        <p>Buyer registration is approved. Seller registration is pending for approval.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
