<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="matrixmembership" frontName="matrixmembership">
            <module name="Matrix_CsMembership"/>
        </route>
        <!-- START: new configuration -->
        <route id="csmembership">
            <module name="Matrix_CsMembership" after="Ced_CsMembership"/>
        </route>
        <!-- END:   new configuration -->
    </router>
</config>
