<?xml version="1.0"?>
<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Otp
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="webkul" translate="label" sortOrder="10" class="wk-config-tab-class">
            <label>Webkul</label>
        </tab>
        <section id="otp" translate="label" type="text" sortOrder="300" showInDefault="1" showInWebsite="1">
            <label>One Time Password (OTP)</label>
            <tab>webkul</tab>
            <resource>Webkul_Otp::webkul</resource>
            <group id="enable" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1">
                <label>One Time Password</label>
                <field id="otp_enable" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1">
                    <label>Enable Module on Frontend</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="otp_enable_registration" translate="label comment" sortOrder="2" type="select" showInDefault="1" showInWebsite="1">
                    <label>Need Otp Validation On New Customer Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="otp_enable">1</field>
                    </depends>
                </field>
                <field id="otp_enable_login" translate="label comment" sortOrder="2" type="select" showInDefault="1" showInWebsite="1">
                    <label>Need Otp Validation On Customer Login</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="otp_enable">1</field>
                    </depends>
                </field>
                <field id="forgot_password" translate="label comment" sortOrder="3" type="select" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Need Otp Validation On Customer Forgot Password</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="otp_enable">1</field>
                    </depends>
                </field>
                <field id="otp_enable_checkout" translate="label comment" sortOrder="4" type="select" showInDefault="1" showInWebsite="1">
                    <label>Need Otp Validation On Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="otp_enable">1</field>
                    </depends>
                </field>
                <field id="allowed_payment_methods" translate="label comment" sortOrder="5" type="multiselect" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Add Payment methods for OTP Validations</label>
                    <source_model>Webkul\Otp\Model\Config\Source\AllowedPaymentMethods</source_model>
                    <depends>
                        <field id="otp_enable_checkout">1</field>
                    </depends>
                </field>
                <field id="expiry" translate="label comment" type='text' sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>OTP Expiry</label>
                    <comment>Set expiry time in seconds and between range (60 - 300) else automatically 60 will be taken.</comment>
                </field>
            </group>
            <group id="emailsettings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1">
                <label>Otp Email Settings</label>
                <field id="otp_notification" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Otp Notification Template at time of New Registration</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
                <field id="otp_checkout_notification" translate="label" type="select" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Otp Notification Template at time of Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
            <group id="twiliosettings" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1">
                <label>Twilio Auth</label>
                <field id="twillo_auth_enabled" translate="label comment" sortOrder="1" type="select" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Enable Mobile Verification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="send_otp_email_enabled" translate="label comment" sortOrder="2" type="select" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Send OTP Email In Failure</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="twillo_auth_enabled">1</field>
                    </depends>
                </field>
                <field id="authId" translate="label" type='obscure' sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Auth Id</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="twillo_auth_enabled">1</field>
                    </depends>
                </field>
                <field id="token" translate="label" type='obscure' sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Token</label>
                    <validate>required-entry</validate>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <depends>
                        <field id="twillo_auth_enabled">1</field>
                    </depends>
                </field>
                <field id="message" translate="label" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Message</label>
                    <depends>
                        <field id="twillo_auth_enabled">1</field>
                    </depends>
                </field>
                <field id="number" translate="label" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sender Number</label>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="twillo_auth_enabled">1</field>
                    </depends>
                </field>
                <field id="send_otp_via" translate="label" sortOrder="7" type="select" showInDefault="1" showInWebsite="1" canRestore="1">
                    <label>Send Otp Via</label>
                    <source_model>Webkul\Otp\Model\Config\Source\SendOtpVia</source_model>
                    <depends>
                        <field id="twillo_auth_enabled">1</field>
                    </depends>
                </field>
            </group>
            <group id="otp_product_information" translate="label" type="text" sortOrder="700" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Show Product Information</label>
                <field id="author" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label><![CDATA[<p>Author: <a target="_blank" title="Webkul Software Private Limited" href="https://webkul.com/">Webkul</a></p>
                        <p>Vesion: 5.0.1</p>
                        <p>User Guide: <a target="_blank" href="https://webkul.com/blog/magento2-otp-extension/">Click Here</a></p>
                        <p>Store Extension: <a target="_blank" href="https://store.webkul.com/magento2-otp-module.html">Click Here</a></p>
                        <p>Ticket/Customisations: <a target="_blank" href="https://webkul.uvdesk.com/en/customer/create-ticket/">Click Here</a></p>
                        <p>Services: <a target="_blank" href="https://webkul.com/magento-development/">Click Here</a></p>
                    ]]>                    </label>
                    <frontend_model>Magento\Config\Block\System\Config\Form\Field\Heading</frontend_model>
                </field>
            </group>
        </section>
    </system>
</config>
