<?xml version="1.0" encoding="UTF-8"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="auction_entry_1">
            <group id="standard">
                <field id="send_bid_email_to_vendor" translate="label" type="select" sortOrder="190" showInDefault="1"
                       showInWebsite="0" showInStore="0">
                    <label>Send Email to vendor on bid</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="vendor_bid_email_template" translate="label" type="select" sortOrder="200" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Email Template for vendor on bidding</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
