<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <auction_entry_1>
            <standard>
                <send_bid_email_to_vendor>1</send_bid_email_to_vendor>
                <vendor_bid_email_template>auction_entry_1_standard_vendor_bid_email_template</vendor_bid_email_template>
            </standard>
        </auction_entry_1>
    </default>
</config>
