
.csmultistep-multistep-index .show_shop_url { text-align: center; font-size: 11px; color: #FD5E0F; }

.multistep-wrapper .ced_vendor_before_wrap .input-box textarea { height: 75px !important; }

.csmultistep-multistep-index .shop_url_msg { text-align: center; font-size: 11px; display: none; }
