<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User License Agreement (EULA)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * https://cedcommerce.com/license-agreement.txt
 *
 * @category    Ced
 * @package     Ced_Auction
 * @author 		CedCommerce Core Team <connect@cedcommerce.com>
 * @copyright   Copyright CedCommerce (https://cedcommerce.com/)
 * @license      https://cedcommerce.com/license-agreement.txt
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Ced_Auction::auction" title="Auction" module="Ced_Auction" sortOrder="20"
             resource="Ced_Auction::auction" />
        <add id="Ced_Auction::auction_details" title="Auction" module="Ced_Auction" sortOrder="10"
             parent="Ced_Auction::auction" resource="Ced_Auction::auction_details" />
        <add id="Ced_Auction::manageauction" title="Manage Auction" module="Ced_Auction" sortOrder="10"
             parent="Ced_Auction::auction_details" action="auction/addAuction/index" resource="Ced_Auction::manageauction"/>
        <add id="Ced_Auction::auctionwinners" title="Auction Winners" module="Ced_Auction" sortOrder="10"
             parent="Ced_Auction::auction_details" action="auction/winner/index" resource="Ced_Auction::auctionwinners"/>
        <!-- <add id="Ced_Auction::configuration" title="Configuration" module="Ced_Auction" sortOrder="30"
             parent="Ced_Auction::auction" resource="Ced_Auction::configuration"/> -->
        <add id="Ced_Auction::config" title="Configuration" module="Ced_Auction" sortOrder="30"
             parent="Ced_Auction::auction_details" action="adminhtml/system_config/edit/section/auction_entry_1"
             resource="Ced_Auction::config"/>
    </menu>
</config>
