<?xml version="1.0" encoding="UTF-8"?>
<!-- /**
 * CedCommerce
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Academic Free License (AFL 3.0)
 * You can check the licence at this URL: http://cedcommerce.com/license-agreement.txt
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/afl-3.0.php
 *
 * @category    Ced
 * @package     Ced_RegistrationForm
 * @author      CedCommerce Core Team <connect@cedcommerce.com >
 * @copyright   Copyright CEDCOMMERCE (http://cedcommerce.com/)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
<!-- <preference for="Magento\Customer\Block\Adminhtml\Edit\Tab\View" type="Ced\RegistrationForm\\Block\Adminhtml\Edit\Tab\View" /> -->
    <type name="Ced\RegistrationForm\Controller\Adminhtml\Customer\Image\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Magento\Catalog\CategoryImageUpload</argument>
        </arguments>
    </type>
    <virtualType name="Magento\Catalog\CategoryImageUpload" type="Magento\Catalog\Model\ImageUploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">catalog/tmp/category</argument>
            <argument name="basePath" xsi:type="string">catalog/category</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="png" xsi:type="string">png</item>
                <item name="pdf" xsi:type="string">pdf</item>
                <item name="doc" xsi:type="string">doc</item>
                <item name="docx" xsi:type="string">docx</item>
            </argument>
        </arguments>
    </virtualType>
    <preference for="Magento\Customer\Model\Backend\Customer" type="Ced\RegistrationForm\Model\Backend\Customer" />
    <type name="Magento\Customer\Model\Customer\DataProvider">
        <plugin name="custmerDocumentsAttribute" type="Ced\RegistrationForm\Plugin\CustomerDocuments" sortOrder="1"/>
    </type>
</config> 