<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../Store/etc/config.xsd">
    <default>
        <noncatalogrfq_configuration>
            <active>                
                <enable>1</enable>
                <allow_private_noncatrfq>1</allow_private_noncatrfq>
                <allow_public_noncatrfq>1</allow_public_noncatrfq>
                <allow_buyer_visibilty>1</allow_buyer_visibilty>
                <allow_seller_visibilty>1</allow_seller_visibilty>
                <maxnonmkt_vendorinvite>10</maxnonmkt_vendorinvite>
                <debugmode>0</debugmode>
            </active>
            <smsnotification>
                <vendor_new_noncatalogrfq_sms>B2B Markets.com.Hello {{vendorname}}. You have got your Non-Catalog RFF. Your Private Non-Catalog RFQ ID #{{quote_id}}. Please visit {{url}} for details.</vendor_new_noncatalogrfq_sms>
            </smsnotification>
            <!--<smsnotification>
                <vendor_new_publivnoncatalogrfq_sms>B2B Markets.com.Hello {{vendorname}}. You have got your Non-Catalog RFF. Your Public Non-Catalog RFQ ID #{{quote_id}}. Please visit {{url}} for details.</vendor_new_publivnoncatalogrfq_sms>
            </smsnotification>-->
            <smsnotification>
                <admin_noncatalogrfq_sms>B2B Markets.com.Hello Admin.Non-catalog {{rfq_type}} RFQ has been created.RFQ ID: #{{quote_id}}, Customer Email: {{customer_email}}.</admin_noncatalogrfq_sms>
            </smsnotification>
            
        </noncatalogrfq_configuration>
    </default>
</config>
